*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

body{
    
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
	grid-template-rows: repeat(7, auto);
    Grid-template-areas: "header"
						 "hero"
                         "somos-loleros"
						 "roles"
                         "final"
                         "galeria"
                         "contacto"
                         "footer";

                         
  
}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: #6521a5;
}

.container{
    
    margin: auto;
}
.color-acento{
    color: blueviolet;
}

header{
    grid-area:header;
    background-color: rgb(245,245,245);
}


header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color:blueviolet;
}

header .logo a{
    margin:0px;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.2em;
}

#hero{
    grid-area: hero;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("media/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: .5s ease all;
   
}

#hero h1{
    color:white;
    margin: 10px;
    text-align: center;

}

#hero p{
    display: none;
    color:white;
}
#hero button:hover{
    transform: scale(1.05);
}

#hero a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color:white;
}

#hero a:hover{
    color: blueviolet;
    opacity: .3;
   
}
#somos-loleros{
    grid-area:somos-loleros;
    
}
    
#somos-loleros .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 5px;
}

#somos-loleros .texto{
    width: 100%;
    text-align:center;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 


#somos-loleros .video-responsive{
    width: 100%;
    height: 500px;
    text-align:center;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 



#roles{
    grid-area: roles;
    background-color: rgb(30,30,30);
    color:white;
    text-align: center;
}

#roles .container{
    padding: 150px 12px;
    gap: 10px;
    
}
#roles h2{
    margin: 0%;
    font-size: 3.2em;

}

#roles p{
    display: none;
}

#roles .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}

#roles .position{
    background-image: url(./media/mid.png);
    background-repeat:no-repeat;

}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("./media/jinx.jpg");


}
 .carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("./media/zyra.jpg");

 }

 .carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("./media/lux.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("./media/urgot.jpg");

}
.carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("./media/xaco.jpg");

}
/*FINAL*/

#final{
    grid-area:final;
}
#final .container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px;
    
}

#final .texto-final{
    width: 100%;
    text-align:center;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 


.slider-frame {
    width: auto ;
    height: 300px;
    margin: 50px auto 0 ;
    overflow: hidden;
    

}

.slider-frame ul{
    display: flex;
    padding: 0%;
    width: 300%;
    animation: slide 15s infinite  ease-in-out;
    
}

.slider-frame li{
    list-style: none;
    width: 100%;

}

.slider-frame img{
    width: 100%;
}

@keyframes slide {
     0%{margin-left: 0%;}
    28%{margin-left: 0;}

    33%{margin-left: -100%;}
    63%{margin-left: -100%;}

    68%{margin-left: -200%;}
    95%{margin-left: -200%;}

    /*60%{margin-left: -300%;}
    75%{margin-left: -300%;}

    80%{margin-left: -400%;}
    95%{margin-left: -400%;}*/


}
/*GALERIA*/

.linea{
    background-color: blueviolet;
    height: 5px;
    width: 100%;
    display: block;
    
}

#galeria{
    grid-area: galeria;
    background-color: rgb(30,30,30);
    padding-bottom: 30px;
    overflow: hidden;
}

#galeria h2{
    margin: 0%;
    font-size: 3.2em;
    color: white;
    text-align: center;
    padding: 20px;
    
}

#galeria h3{
    margin: 0%;
    color: white;
    text-align: center;
    font-size: 1.3em;
   
    
}

#galeria .container-galeria{
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
    gap: 10px;

}
#galeria img{
    
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
   
}

.container-galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

}

.container-galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: scale(0) ;


}
.light-box h1{
    display: block;
    position: absolute;
    margin: auto;
    padding-top: 170px;
    color: white;
    text-align: center;
    font-size: 2em;
}

.light-box img{
    width: 75vw;
    max-height: 90vh;
}

.light-box:target{
    transform:scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    width: 40px ;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;

}

.next{
    display: block;
    background-color: blueviolet;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}




/*CONTACTO*/

#contacto {
    grid-area: contacto;
    margin-top: 40px;
    height: 100vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
        url("./media/contacto.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: .5s ease all;
}
#contacto .container{
    padding: 50px;   
}

.container .form .form-header .form-title{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: blueviolet;
    text-align: center;
    padding: 14px 0;
}
.container .form .form-header .form-title span{
    color: white;
}

.container .form {
    background: rgba(0,0,0, .5);
    width: auto;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 35px;
    border-radius: 3px;
}

.container .form .form-label{
    display: block;
    color: rgb(194, 143, 241);
    font-size: 1em;
    position:relative;
}

.container .form .form-input, .text-area{
    background: rgba(0,0,0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid blueviolet;
    width: 100%;
    padding: 12px 2px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: white;

}

.container .form .text-area{
    resize:vertical;
    max-height: 150px;
    min-height: 50px;
}

.container .form .btn-submit{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    outline: none;
    background-color: blueviolet;
    font-size: 16px;
    border: none;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;

}

.container .form .btn-submit:hover{
    color: rgb(194, 143, 241);
    background: rgba(0,0,0, .5);;
}

/*FOOTER*/
footer{
    grid-area: footer;
    background-color: (230,230,230);
}

footer p{
    margin:0;
    padding-bottom: 15px;
    color:rgb(100,100,100)

}

footer .container{

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.quoteContainer {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    border: 1px solid blueviolet;
    border-radius: 20px;
    color:rgb(100,100,100)
}

#quote {
    font-family: "Bradley Hand ITC";
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

#author {
    margin-top: 10px;
    text-align: center;
    font-family: "Bradley Hand ITC";
    font-size: 15px;
}




/******************************MÁS DE 720 PX **********************/
@media (min-width:720px){
    header{
        position:fixed;
        width: 100%;
        z-index: 1000;
    

    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0%;
        padding-right: 20px;
    }
    #hero .principal{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }

    #hero h1{
        font-size: 5em;
    }

    #hero p{
        display: block;
        text-align: center;       
        margin: 20px 20px;
    }

    #somos-loleros .container{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        max-width: 1400px;

        
    }

    #somos-loleros .texto{
        width: 400px;
        overflow: hidden;
        text-align: initial;
        padding: 0px 30px;
        
        
    } 

    #somos-loleros h2{
        margin-top: 0%;

    }  
   
    #somos-loleros .video-responsive{
        
        max-width: 600px;
        
    
    } 
   
    #roles .rol{
        display: flex;
        justify-content:center;
    }

    #roles p{
        display: block;
        margin-bottom: 30px;
    }
    #roles h3{
        margin-top:0%;
    }
    #roles .carta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;;
        padding: 15px;
    }
    

    #final .container{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        max-width: 1400px;

        
    }

    #final .texto{
        width: 400px;
        overflow: hidden;
        text-align: initial;
        padding: 0px 30px;
        
        
    } 
    
    
    /*GALERIA*/
    #galeria .container-galeria{
        margin: auto;
        padding: 40px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr) );
        grid-gap: 10px;
       
    }

    .light-box h1{
        padding-top: 400px;
        font-size: 3em;
    }

    
    #contacto{
        margin: 50px auto;
    }
  
}
/******************************MÁS DE 1200 PX **********************/
@media (min-width:1200px){

    #hero{
    width: 90%;    
    margin: 0 auto;
    }

    #roles{
    width: 90%;    
    margin: 0 auto;
    }
    
    #somos-loleros .container{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        max-width: 1400px;

        
    }
    #galeria{
        width: 90%;
        margin: 0 auto;
    }
    
    #final{
    width: 90%;    
    margin: 0 auto;
    }

    #contacto {
        width: 90%;    
        margin: 50px auto;
        }

    .light-box h1{
            padding-top: 650px;
            font-size: 4em;
    }
    
}